In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataCSV.csv')
train = pd.read_csv('train.csv')
df.head()

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,YearBuilt,YearRemodAdd,TotRmsAbvGrd,MasVnrArea,Fireplaces,BsmtFinSF1,KitchenQual,ExterQual,BsmtQual,HeatingQC,SalePrice
0,7,1710,2,548,856,856,2,2003,2003,8,196.0,0,706,2,2,2,0,208500
1,6,1262,2,460,1262,1262,2,1976,1976,6,0.0,1,978,3,3,2,0,181500
2,7,1786,2,608,920,920,2,2001,2002,6,162.0,1,486,2,2,2,0,223500
3,7,1717,3,642,756,961,1,1915,1970,7,0.0,1,216,2,3,4,2,140000
4,8,2198,3,836,1145,1145,2,2000,2000,9,350.0,1,655,2,2,2,0,250000

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.columns

Index(['OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea', 'TotalBsmtSF',
       '1stFlrSF', 'FullBath', 'YearBuilt', 'YearRemodAdd', 'TotRmsAbvGrd',
       'MasVnrArea', 'Fireplaces', 'BsmtFinSF1', 'KitchenQual', 'ExterQual',
       'BsmtQual', 'HeatingQC', 'SalePrice'],
      dtype='object')

In [5]:
train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
num = []
for val in df['OverallQual']:
    if val == 1:
        num.append('Very Poor')
    elif val == 2:
        num.append('Poor')
    elif val == 3:
        num.append('Fair')
    elif val == 4:
        num.append('Below Average')
    elif val == 5:
        num.append('Average')
    elif val == 6:
        num.append('Above Average')
    elif val == 7:
        num.append('Good')
    elif val == 8:
        num.append('Very Good')
    elif val == 9:
        num.append('Excellent')
    elif val == 10:
        num.append('very Excellent')
df['OverallQual'] = pd.Series(num)

In [7]:
df.head()

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,YearBuilt,YearRemodAdd,TotRmsAbvGrd,MasVnrArea,Fireplaces,BsmtFinSF1,KitchenQual,ExterQual,BsmtQual,HeatingQC,SalePrice
0,Good,1710,2,548,856,856,2,2003,2003,8,196.0,0,706,2,2,2,0,208500
1,Above Average,1262,2,460,1262,1262,2,1976,1976,6,0.0,1,978,3,3,2,0,181500
2,Good,1786,2,608,920,920,2,2001,2002,6,162.0,1,486,2,2,2,0,223500
3,Good,1717,3,642,756,961,1,1915,1970,7,0.0,1,216,2,3,4,2,140000
4,Very Good,2198,3,836,1145,1145,2,2000,2000,9,350.0,1,655,2,2,2,0,250000

In [8]:
for col in df.columns:
    print(df[col].value_counts().sort_index())

Above Average     364
Average           381
Below Average     112
Excellent          39
Fair               20
Good              314
Poor                3
Very Good         160
Very Poor           2
very Excellent     11
Name: OverallQual, dtype: int64
334     1
438     1
480     1
520     1
605     1
616     1
630     6
672     2
691     1
693     1
694     1
698     1
708     1
720     3
729     1
747     2
752     1
754     1
764     1
767     1
768     3
773     1
774     1
778     1
780     1
784     2
788     1
789     2
790     1
792     1
       ..
2612    1
2614    1
2622    1
2624    1
2630    1
2633    1
2640    1
2643    1
2646    1
2654    1
2668    1
2696    1
2704    1
2713    1
2727    1
2728    1
2730    1
2775    1
2794    1
2810    1
2828    1
2868    1
2872    1
2945    1
2978    1
3140    1
3194    1
3222    1
3238    1
3627    1
Name: GrLivArea, Length: 827, dtype: int64
0     75
1    365
2    797
3    166
4      3
Name: GarageCars, dtype: int64
0       75
160      2
164      1
180      9
186      1
189      1
192      1
198      1
200      4
205      3
208      1
210      3
213      1
216     12
220      3
225      2
228      1
230      1
234      2
240     38
244      1
246      2
248      1
250      3
252      5
254      1
255      1
256      2
260      3
261      1
        ..
872      1
874      1
878      1
880      3
884      2
888      3
889      1
890      1
895      2
898      1
900      2
902      1
905      1
908      2
912      1
923      1
924      2
928      1
936      2
947      1
954      1
983      1
1025     1
1043     1
1052     2
1053     1
1069     1
1220     1
1248     1
1390     1
Name: GarageArea, Length: 425, dtype: int64
0       34
105      1
190      1
264      3
270      1
290      1
319      1
372      1
384      6
408      1
420      1
440      3
458      1
462      1
480      1
482      1
483      7
485      1
504      1
506      1
520      3
525      1
528      2
530      1
533      1
536      1
539      1
540      2
544      1
546      4
        ..
1907     1
1922     1
1926     1
1930     2
1932     1
1935     1
1947     1
1952     1
1976     1
1980     1
1986     1
1992     1
2000     1
2002     1
2006     1
2033     1
2042     1
2046     1
2076     1
2078     1
2109     1
2110     1
2121     1
2136     2
2153     1
2158     1
2223     1
2524     1
2633     1
3206     1
Name: TotalBsmtSF, Length: 696, dtype: int64
334     1
438     1
480     1
483     7
495     1
520     5
525     1
526     1
536     1
546     3
551     1
561     1
572     2
575     1
576     1
581     1
596     1
600     2
605     1
612     2
616     5
624     2
625     2
626     1
630     9
649     1
658     1
660     2
661     1
663     1
       ..
1966    1
1973    1
1976    1
1980    1
1987    1
1992    1
2000    2
2018    1
2020    2
2028    1
2036    1
2042    1
2046    1
2053    1
2069    2
2073    1
2076    1
2084    1
2110    1
2113    1
2117    1
2121    1
2129    1
2136    1
2158    1
2196    1
2207    1
2223    1
2524    1
2633    1
Name: 1stFlrSF, Length: 721, dtype: int64
0      8
1    643
2    735
3     20
Name: FullBath, dtype: int64
1872     1
1875     1
1880     3
1882     1
1885     1
1890     2
1892     1
1893     1
1898     1
1900     8
1904     1
1905     1
1906     1
1908     1
1910    15
1911     1
1912     2
1913     1
1914     6
1915    10
1916     7
1917     1
1918     6
1919     3
1920    28
1921     6
1922     8
1923     7
1924     7
1925    16
        ..
1981     4
1982     6
1983     4
1984     9
1985     5
1986     5
1987     3
1988    11
1989     3
1990    12
1991     5
1992    12
1993    17
1994    18
1995    18
1996    14
1997    14
1998    25
1999    25
2000    24
2001    20
2002    23
2003    43
2004    54
2005    63
2006    66
2007    48
2008    19
2009    17
2010     1
Name: YearBuilt, Length: 112, dtype: int64
1950    173
1951      4
1952      5
1953      9
1954     14
1955      9
1956     10
1957      9
1958     15
1959     18
1960     12
1961      8
1962     14
1963     12
1964     10
1965     18
1966     14
1967     11
1968     17
1969     12
1970     24
1971     18
1972     20
1973     10
1974      6
1975      8
1976     29
1977     24
1978     15
1979      9
       ...
1981      8
1982      7
1983      5
1984      7
1985      8
1986      5
1987      9
1988      9
1989     10
1990     14
1991     14
1992     17
1993     16
1994     21
1995     27
1996     33
1997     23
1998     35
1999     30
2000     54
2001     21
2002     47
2003     48
2004     62
2005     73
2006     96
2007     75
2008     37
2009     21
2010      5
Name: YearRemodAdd, Length: 61, dtype: int64
2       1
3      17
4      97
5     272
6     401
7     318
8     179
9      70
10     38
11     12
12      1
Name: TotRmsAbvGrd, dtype: int64
0.0       836
1.0         1
11.0        1
14.0        1
16.0        7
18.0        2
22.0        1
24.0        1
27.0        1
28.0        1
30.0        2
31.0        1
32.0        1
34.0        1
36.0        1
38.0        1
40.0        4
41.0        1
42.0        3
44.0        3
45.0        2
46.0        1
48.0        1
50.0        3
51.0        1
53.0        1
54.0        2
56.0        1
57.0        1
60.0        2
         ...
600.0       1
604.0       1
616.0       1
621.0       1
630.0       1
640.0       1
650.0       2
651.0       1
653.0       1
660.0       2
664.0       1
673.0       1
705.0       1
731.0       1
766.0       1
768.0       1
772.0       1
788.0       1
816.0       1
860.0       1
870.0       1
894.0       1
921.0       1
975.0       1
1031.0      1
1047.0      1
1115.0      1
1129.0      1
1378.0      1
1600.0      1
Name: MasVnrArea, Length: 316, dtype: int64
0    677
1    626
2    100
3      3
Name: Fireplaces, dtype: int64
0       453
2         1
16        9
20        5
24       12
25        1
27        1
28        3
33        1
36        1
41        1
48        2
49        1
50        2
56        1
57        2
63        1
64        1
72        1
75        1
80        1
81        1
94        1
104       2
108       1
111       1
116       2
120       3
125       1
129       1
       ...
1387      1
1390      1
1398      1
1400      2
1406      1
1410      2
1422      1
1436      1
1440      1
1441      1
1443      1
1445      1
1447      1
1456      1
1460      1
1464      1
1470      1
1480      1
1513      1
1518      1
1540      1
1567      2
1572      1
1573      1
1606      1
1619      1
1636      1
1646      1
1696      1
1880      1
Name: BsmtFinSF1, Length: 613, dtype: int64
0     87
1     36
2    572
3    711
Name: KitchenQual, dtype: int64
0     42
1     12
2    476
3    876
Name: ExterQual, dtype: int64
0    110
1     33
2    606
3     34
4    623
Name: BsmtQual, dtype: int64
0    713
1     47
2    232
3      1
4    413
Name: HeatingQC, dtype: int64
34900     1
35311     1
37900     1
39300     1
40000     1
52000     1
52500     1
55000     1
55993     1
58500     1
60000     3
61000     1
62383     1
64500     1
66500     1
67000     2
68400     1
68500     1
72500     1
73000     1
75000     1
75500     1
76000     1
76500     1
78000     1
79000     3
79500     1
79900     2
80000     4
80500     1
         ..
377426    1
377500    1
378500    1
380000    1
383970    1
385000    1
392000    1
392500    1
394432    1
394617    1
395000    1
395192    1
402000    1
402861    1
403000    1
410000    1
412500    1
415298    1
424870    1
426000    1
437154    1
438780    1
440000    1
446261    1
451950    1
465000    1
466500    1
485000    1
556581    1
625000    1
Name: SalePrice, Length: 640, dtype: int64

In [9]:
for col in ['KitchenQual','ExterQual','BsmtQual','HeatingQC']:
    print(train[col].value_counts().sort_index())

Ex    100
Fa     39
Gd    586
TA    735
Name: KitchenQual, dtype: int64
Ex     52
Fa     14
Gd    488
TA    906
Name: ExterQual, dtype: int64
Ex    121
Fa     35
Gd    618
TA    649
Name: BsmtQual, dtype: int64
Ex    741
Fa     49
Gd    241
Po      1
TA    428
Name: HeatingQC, dtype: int64

In [10]:
num = []
for col in ['KitchenQual','ExterQual']:
    for val in df[col]:
        if val == 0:
            num.append('Excellent')
        elif val == 1:
            num.append('Fair')
        elif val == 2:
            num.append('Good')
        elif val == 3:
            num.append('Average')
    df[col] = pd.Series(num)
    num = []

In [11]:
num = []
for val in df['BsmtQual']:
    if val == 0:
        num.append('Excellent')
    elif val == 1:
        num.append('Fair')
    elif val == 2:
        num.append('Good')
    elif val == 3:
        num.append('None')
    elif val == 4:
        num.append('Average')
df['BsmtQual'] = pd.Series(num)

In [12]:
num = []
for val in df['HeatingQC']:
    if val == 0:
        num.append('Excellent')
    elif val == 1:
        num.append('Fair')
    elif val == 2:
        num.append('Good')
    elif val == 3:
        num.append('Poor')
    elif val == 4:
        num.append('Average')
df['HeatingQC'] = pd.Series(num)

In [13]:
for col in ['KitchenQual','ExterQual','BsmtQual','HeatingQC']:
    print(df[col].value_counts().sort_index())

Average      711
Excellent     87
Fair          36
Good         572
Name: KitchenQual, dtype: int64
Average      876
Excellent     42
Fair          12
Good         476
Name: ExterQual, dtype: int64
Average      623
Excellent    110
Fair          33
Good         606
None          34
Name: BsmtQual, dtype: int64
Average      413
Excellent    713
Fair          47
Good         232
Poor           1
Name: HeatingQC, dtype: int64

In [18]:
df.head()

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,YearBuilt,YearRemodAdd,TotRmsAbvGrd,MasVnrArea,Fireplaces,BsmtFinSF1,KitchenQual,ExterQual,BsmtQual,HeatingQC,SalePrice
0,Good,1710,2,548,856,856,2,2003,2003,8,196.0,0,706,Good,Good,Good,Excellent,208500
1,Above Average,1262,2,460,1262,1262,2,1976,1976,6,0.0,1,978,Average,Average,Good,Excellent,181500
2,Good,1786,2,608,920,920,2,2001,2002,6,162.0,1,486,Good,Good,Good,Excellent,223500
3,Good,1717,3,642,756,961,1,1915,1970,7,0.0,1,216,Good,Average,Average,Good,140000
4,Very Good,2198,3,836,1145,1145,2,2000,2000,9,350.0,1,655,Good,Good,Good,Excellent,250000

In [23]:
df.columns

Index(['OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea', 'TotalBsmtSF',
       '1stFlrSF', 'FullBath', 'YearBuilt', 'YearRemodAdd', 'TotRmsAbvGrd',
       'MasVnrArea', 'Fireplaces', 'BsmtFinSF1', 'KitchenQual', 'ExterQual',
       'BsmtQual', 'HeatingQC', 'SalePrice'],
      dtype='object')

In [24]:
len(df.columns)

18

In [25]:
sorted(df['KitchenQual'].unique())

['Average', 'Excellent', 'Fair', 'Good']

In [27]:
x = [[11,22,33,455,488,66,666,65848]]
dfX = pd.DataFrame(x)
dfX

    0   1   2    3    4   5    6      7
0  11  22  33  455  488  66  666  65848

In [17]:
df.to_csv('dataDashboard.csv')

In [ ]:
df[((df['GarageCars'] >= int(garage[0])) & (df['GarageCars'] <= int(garage[1]))) |
   ((df['FullBath'] >= int(bathroom[0])) & (df['FullBath'] <= int(bathroom[1]))) |
   ((df['TotRmsAbvGrd'] >= int(room[0])) & (df['TotRmsAbvGrd'] <= int(room[1]))) |
   ((df['Fireplaces'] >= int(fireplace[0])) & (df['Fireplaces'] <= int(fireplace[1]))) |
   ((df['GrLivArea'] >= int(area[0])) & (df['GrLivArea'] <= int(area[1]))) |
   ((df['YearBuilt'] >= int(year[0])) & (df['YearBuilt'] <= int(year[1]))) |
   ((df['SalePrice'] >= int(price[0])) & (df['SalePrice'] <= int(price[1])))]